{% extends "layout.html" %}
{% block content %}
<!--banner start here-->
<div class="banner">
    <div class="container">
        <div class="banner-main">
            <!-- <h2>We make the dream come true</h2> -->
            <!-- <p>Что-то ещё написано</p> -->
        </div>
    </div>
</div>
<!--banner end here-->
<div class="recent-posts">
    <div class="container">
        <div class="col-md-6 recent-left">
            <h3>Ваша мечта ближе чем кажется</h3>
            <p>Мечтаете учиться за границей, но думаете, что поступить в хороший университет и получить финансовую поддержку невозможно? StudyAbroadConsult - группа людей, которые на собственном примере доказали, что поступить в ведущий иностранный вуз и получить грант на полное покрытие - это реально. Мы готовы поделиться с вами нашими знаниями и опытом и помочь осуществить мечту. У нас есть опыт и конкретные методы, которые увеличат ваши шансы на поступление.</p>
        </div>
        <div class="col-md-6 recent-right">
            <img src="img/roma-coleseo.jpg" alt="" class="img-responsive">
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="recent-posts">
    <div class="container">
        <div class="recent-bottom">
            <div class="col-md-6 recent-left">
                <img src="img/bruges.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-md-6 recent-right">
                <h3>Образовательные программы</h3>
                <p>На нашем сайте вы можете найти информацию о некоторых доступных стипендиях и образовательных программах. Большинство программ, публикуемых нами, требуют знания английского языка. По индивидуальной заявке мы сможем подобрать те программы, которые подходят именно вам.</p>
                <div class="journal-btn">
                    <a href="/prices/">Смотреть программы</a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="recent-posts">
    <div class="container">
        <div class="recent-bottom">
            <div class="col-md-6 recent-left">
                <h3>Что мы предлагаем</h3>
                <p>Мы подберем вузы и гранты, которые подходят вам, составим индивидуальную стратегию для поступления, поможем собрать требуемые документы, напишем мотивационные и рекомендательные письма и даже можем взять на себя общение с иностранным университетом. Мы сделаем всё, чтобы максимально увеличить ваши шансы на поступление.</p>
                <p>В наши услуги входит:</p>
                <ul>
                    <li>Консультации по вопросам поступления</li>
                    <li>Разработка стратегии поступления</li>
                    <li>Подбор вузов и грантов</li>
                    <li>Написание мотивационных и рекомендационных писем</li>
                    <li>Литературная правка мотивационных и рекомендационных писем</li>
                    <li>Помощь в составлении академического CV</li>
                    <li>Полное сопровождение поступления</li>
                </ul>
                <div class="journal-btn">
                    <a href="/prices/">Подробнее</a>
                </div>
            </div>
            <div class="col-md-6 recent-right">
                <img src="img/venezia.jpg" alt="" class="img-responsive">
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="recent-posts">
    <div class="container">
        <div class="recent-bottom">
            <div class="col-md-6 recent-left">
                <img src="img/gre-mountains.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-md-6 recent-right">
                <h3>А что если у меня не получится</h3>
                <p>Мы знаем, что любая заявка оценивается субъективно приёмной комиссией конкретного вуза. В случае неудачи вашей заявки по нашей вине мы готовы вернуть вам деньги, потраченные на наши услуги.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="recent-posts">
    <div class="container">
        <div class="recent-bottom">
            <div class="col-md-6 recent-left">
                <h3>Мы в соцсетях</h3>
                <p><a href="http://vk.com/studyabroaddream">Наша группа vk.com</a></p>
            </div>
            <div class="col-md-6 recent-right">
                <img src="img/macbook.jpg" alt="" class="img-responsive">
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
{% endblock %}