{% extends "layout.html" %}
{% block content %}
<!--banner start here-->
<div class="banner">
    <div class="container">
        <div class="banner-main">
            <!-- <h2>We make the dream come true</h2> -->
            <!-- <p>Что-то ещё написано</p> -->
        </div>
    </div>
</div>
<!--banner end here-->
<div class="recent-posts">
    <div class="container">
        <div class="col-md-6 recent-left">
            <h3>Ваша мечта ближе чем кажется</h3>
            <p>Мечтаете учиться за границей, но думаете, что это это дорого и невозможно? Мы на собственном примере доказали, что поступить в ведущий иностранный вуз и получить грант - это реально.</p>
            <p>Мы хотим поделиться с вами нашими знаниями и опытом и помочь осуществить мечту.</p>
        </div>
        <div class="col-md-6 recent-right">
            <img src="img/roma-coleseo.jpg" alt="" class="img-responsive">
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="recent-posts">
    <div class="container">
        <div class="recent-bottom">
            <div class="col-md-6 recent-left">
                <img src="img/paris-tour.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-md-6 recent-right">
                <h3>Кто мы</h3>
                <p>StudyAbroadConsult - группа людей, которые поступили в зарубежные университеты, получив грант на полное покрытие. Теперь у нас есть желание помочь другим людям осуществить свою метчу. У нас есть знания и конкретные методы, которые увеличат ваши шансы на поступление.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="recent-posts">
    <div class="container">
        <div class="recent-bottom">
            <div class="col-md-6 recent-left">
                <h3>Образовательные программы</h3>
                <p>На нашем сайте вы можете найти информацию о некоторых доступных стипендиях и образовательных программах. Большинство программ, публикуемых нами, требуют знания английского языка. По вашей индивидуальной заявке мы сможем подобрать вам те программы, которые подходят именно вам.</p>
                <div class="journal-btn">
                    <a href="/prices/">Смотреть программы</a>
                </div>
            </div>
            <div class="col-md-6 recent-right">
                <img src="img/bruges.jpg" alt="" class="img-responsive">
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="recent-posts">
    <div class="container">
        <div class="recent-bottom">
            <div class="col-md-6 recent-left">
                <img src="img/venezia.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-md-6 recent-right">
                <h3>Что мы предлагаем</h3>
                <p>Мы подберем вузы и гранты, которые подходят Вам, поможем собрать документы, написать мотивационные и рекомендательные письма и максимально увеличим шансы на поступление.</p>
                <p>В наши услуги входит:</p>
                <ul>
                    <li>Консультации по вопросам поступления</li>
                    <li>Подбор вузов и грантов</li>
                    <li>Написание мотивационных и рекомендационных писем</li>
                    <li>Правка мотивационных и рекомендационных писем</li>
                    <li>Помощь в составлении CV</li>
                    <li>Полное сопровождение</li>
                </ul>
                <div class="journal-btn">
                    <a href="/prices/">Подробнее</a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="recent-posts">
    <div class="container">
        <div class="recent-bottom">
            <div class="col-md-6 recent-left">
                <h3>А что если у меня не получится</h3>
                <p>Мы знаем, что любая заявка оценивается субъективно приёмной комиссией конкретного вуза. В случае неудачи вашей заявки по нашей вине мы готовы вернуть вам деньги, потраченные на наши услуги.</p>
            </div>
            <div class="col-md-6 recent-right">
                <img src="img/gre-mountains.jpg" alt="" class="img-responsive">
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="recent-posts">
    <div class="container">
        <div class="recent-bottom">
            <div class="col-md-6 recent-left">
                <img src="img/macbook.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-md-6 recent-right">
                <h3>Мы в соцсетях</h3>
                <p><a href="http://vk.com/studyabroaddream">Наша группа vk.com</a></p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
{% endblock %}