{% extends "layout.html" %}
{% block header %}
<li><a href="/"><span data-hover="Главная">Главная</span></a></li>
<li><a href="/grants/1"><span data-hover="База грантов">База грантов</span></a></li>
<li><a class="active" href="/prices/">Наши услуги</a></li>
<li><a href="/references/"><span data-hover='Отзывы'>Отзывы</span></a></li>
<li><a href="/contact/"><span data-hover="Оставить заявку">Оставить заявку</span></a></li>
{% endblock %}
{% block content %}
<script language="JavaScript" type="text/javascript">
$( document ).ready(function() {
	var $root = $('html, body');
	$('a[href*=#]').click(function() {
		console.log('here');
	    $root.animate({
	        scrollTop: $( $.attr(this, 'href') ).offset().top
	    }, 500);
	    return false;
	});
});
</script>
<!--banner start here-->
<div class="banner-small">
</div>
<!--banner end here-->
<div class="about">
	<div class="container">
		<div class="about-main">
			<div class="about-top">
				<h3>Пакеты услуг</h3>
				<p>Предоставляемые нами услуги перечислены на этой странице. Для вашего удобства некоторые из них объединены в пакеты.</p>
			</div>
			<div class="about-wedo about-sets">
				<div class="col-md-4">
					<h5>Базовый: €80</h5>
					<div class="inner-text">
						<p><a href="#item-consultaion">1) Консультация</a></p>
						<p><a href="#item-letter">2) Написание мотивационного или рекомендательного письма</a></p>
						<p><a href="#item-cv">3) Составление академического CV</a></p>
					</div>
					<img src="/img/wood-small-1.jpg" alt="" class="img-responsive">
				</div>
				<div class="col-md-4">
					<h5>Оптимальный: €150</h5>
					<div class="inner-text">
						<p><a href="#item-consultaion">1) Консультация</a></p>
						<p><a href="#item-universities">2) Подбор университетов и грантов</a></p>
						<p><a href="#item-docs-edit">3) Литературная правка и проверка пакета документов</a></p>
					</div>
					<img src="/img/wood-small-2.jpg" alt="" class="img-responsive">
				</div>
				<div class="col-md-4">
					<h5>Продвинутый: €200</h5>
					<div class="inner-text">
						<p><a href="#item-consultaion">1) Консультация</a></p>
						<p><a href="#item-strategy">2) Составление индивидуальной стратегии поступления</a></p>
						<p><a href="#item-docs">3) Составление полного пакета документов</a></p>
						<p><a href="#item-full">4) Сопровождение поступления</a></p>
					</div>
					<img src="/img/wood-small-3.jpg" alt="" class="img-responsive">
				</div>
				<div class="clearfix"> </div>
			</div>
			<br>
			<div class="about-top">
				<h3>Услуги и цены</h3>
				<p>Для получения более подробной информации об интересующей вас услуге</p>
				<p><a href="/contact/">свяжитесь с нами</a></p>
			</div>
			<div class="about-wedo" id="item-consultaion">
				<div class="col-md-4 about-top-img">
					<img src="/img/meeting.jpg" alt="" class="img-responsive">
				</div>
				<div class="col-md-8 about-wedo-right">
					<h4>Консультация</h4>
					<p>Наши специалисты готовы ответить на интересующие вас вопросы. Вы получите исчерпывающую информацию по процедуре поступления, а также ответы на такие вопросы, как:</p>
					<ul>
						<li>по каким критериям отборают в университеты и на стипендии;</li>
						<li>стратегии, которые увеличат ваши шансы на поступление;</li>
						<li>в каких странах возможно бесплатное образование;</li>
						<li>как правильно выбрать университет;</li>
						<li>общие рекомендации по написанию мотивационного и рекомендательного писем;</li>
						<li>у кого брать рекомендательное письмо;</li>
						<li>как происходит подача документов в вузы;</li>
						<li>общая информация по получении финансовой поддержки (стипендии, гранты и т.д.);</li>
						<li>как правильно составить академическое CV;</li>
						<li>какие языковые экзамены лучше сдавать;</li>
						<li>что такое transcripts и как их получить;</li>
						<li>стоимость проживания в разных странах Европы.</li>
					</ul>
					<h5>Стоимость: €10</h5>
				</div>
				<div class="clearfix"> </div>
			</div>
			<br>
			<div class="about-wedo" id="item-strategy">
				<div class="col-md-4 about-top-img">
					<img src="/img/strategy.jpg" alt="" class="img-responsive">
				</div>
				<div class="col-md-8 about-wedo-right">
					<h4>Составление индивидуальной стратегии поступления</h4>
					<p>Разработка индивидуальной стратегии поступления с учётом вашей персональной ситуации, академического бэкграунда, финансовых возможностей и сроков поступления. Мы составим четкие рекомендации, как действовать дальше, чтобы максимально увеличить ваши шансы на поступление. Мы подскажем, какие страны и вузы лучше выбрать и какова вероятность получить финансирование.</p>
					<h5>Стоимость: €30</h5>
				</div>
				<div class="clearfix"> </div>
			</div>
			<br>
			<div class="about-wedo" id="item-universities">
				<div class="col-md-4 about-top-img">
					<img src="/img/harvard.jpg" alt="" class="img-responsive">
				</div>
				<div class="col-md-8 about-wedo-right">
					<h4>Подбор университетов</h4>
					<p>На основании заполненной анкеты и общения с вами мы подготовим список из 10 университетов, которые подходят именно вам. Для выбора университетов будет использована информация о ваших научных и творческих интересах, целях обучения, пожеланиях о стране и городе обучения, а также о вашем академическом бэкграунде. Вам будет доступна полная информация о программе обучения, принимающем университете и городе, требуемых документах, сроках подачи и ответа, а также другие важные параметры, на основе которых вы сможете сделать правильный выбор.</p>
					<h5>Стоимость: €50</h5>
				</div>
				<div class="clearfix"> </div>
			</div>
			<br>
			<div class="about-wedo" id="item-grants">
				<div class="col-md-4 about-top-img">
					<img src="/img/money.jpg" alt="" class="img-responsive">
				</div>
				<div class="col-md-8 about-wedo-right">
					<h4>Подбор грантов и стипендий</h4>
					<p>Зачастую зарубежные университеты и страны предоставляют финансовую поддержку студентам. Возможно, вам не придётся тратить тысячи евро на учебу, вместо этого получив финансирование от принимающей стороны. Мы подберем для вас варианты полного или частичного покрытия стоимости обучения, а также проживания в выбранной вами стране. Вам будет предоставлена полная информация об условиях стипендии, предоставляемом финансовом покрытии, требуемых для заявки документах, сроках подачи и ответа и других важных деталях.</p>
					<h5>Стоимость: €50</h5>
				</div>
				<div class="clearfix"> </div>
			</div>
			<br>
			<div class="about-wedo" id="item-letter">
				<div class="col-md-4 about-top-img">
					<img src="/img/notes.jpg" alt="" class="img-responsive">
				</div>
				<div class="col-md-8 about-wedo-right">
					<h4>Написание мотивационного или рекомендательного письма</h4>
					<p>Мотивационные и рекомендательные письма являются одними из самых важных документов в заявке. Мы напишем за вас письмо, руководствуясь вопросами анкеты и фактах из вашей биографии. Письмо будет написано с учётом требований предоставляемых конкретной программой к кандидатам, а также целей, которые создатели этой программы нацелены достичь.</p>
					<h5>Стоимость: €50</h5>
				</div>
				<div class="clearfix"> </div>
			</div>
			<br>
			<div class="about-wedo">
				<div class="col-md-4 about-top-img">
					<img src="/img/typewriter.jpg" alt="" class="img-responsive">
				</div>
				<div class="col-md-8 about-wedo-right">
					<h4>Литературная правка мотивационного или рекомендательного письма</h4>
					<p>Если вы не уверены, что ваше мотивационное или рекомендательное письмо будет положительно оценено приёмной комиссией, мы поможем сделать его лучше. Мы предложим вам наш вариант письма, которое увеличит ваши шансы на поступление. Особое внимание будет уделено общей структуре и логике, а также исправлению грамматических и орфографических ошибок.</p>
					<h5>Стоимость: €25</h5>
				</div>
				<div class="clearfix"> </div>
			</div>
			<br>
			<div class="about-wedo">
				<div class="col-md-4 about-top-img">
					<img src="/img/edit1.jpg" alt="" class="img-responsive">
				</div>
				<div class="col-md-8 about-wedo-right">
					<h4>Литературный перевод мотивационного или рекомендательного письма</h4>
					<p>Язык, которым вы пишите письмо, производит на приемную комиссию впечатление, которое напрямую влияет на то, будете ли вы зачислены в университет или нет. Мы поможем вам перевести письмо, использовав литературный язык, что поможет вам произвести нужное впечатление на комиссию и увеличить шансы на поступление.</p>
					<h5>Стоимость: €15</h5>
				</div>
				<div class="clearfix"> </div>
			</div>
			<br>
			<div class="about-wedo" id="item-cv">
				<div class="col-md-4 about-top-img">
					<img src="/img/resume.jpg" alt="" class="img-responsive">
				</div>
				<div class="col-md-8 about-wedo-right">
					<h4>Составление академического CV</h4>
					<p>Академическое CV зачастую отличается от резюме, которое требуются при приёме на работу. Мы составим документ, который заставит приёмную комиссию обратить на вас внимание и увеличит ваши шансы на поступление. При составлении будет использована информация, предоставленная вами в анкете, а также ваши старые резюме.</p>
					<h5>Стоимость: €30</h5>
				</div>
				<div class="clearfix"> </div>
			</div>
			<br>
			<div class="about-wedo" id="item-docs">
				<div class="col-md-4 about-top-img">
					<img src="/img/plan.jpg" alt="" class="img-responsive">
				</div>
				<div class="col-md-8 about-wedo-right">
					<h4>Составление полного пакета документов</h4>
					<p>Большинство вузов и программ требуют один и тот же пакет документов для поступления. На основании общения с вами и заполненной анкеты мы составим для вас полный пакет документов, с которым вы сможете претендовать на поступление в выбранные вузы. В данную услугу входит составление академического CV, двух рекомендательных и одного мотивационного писем, перевод транскриптсов, а так же подготовка других требуемых документов.</p>
					<h5>Стоимость: €125</h5>
				</div>
				<div class="clearfix"> </div>
			</div>
			<br>
			<div class="about-wedo" id="item-docs-edit">
				<div class="col-md-4 about-top-img">
					<img src="/img/documents.jpg" alt="" class="img-responsive">
				</div>
				<div class="col-md-8 about-wedo-right">
					<h4>Литературная правка и проверка пакета документов</h4>
					<p>Мы проверим ваши документы, внесем необходимые правки и сделаем так, чтобы вы имели максимальные шансы на поступление. В данную услугу входит литературная правка двух рекомендательных и одного мотивационного писем, академического CV, проверка перевода транскриптсов, а также проверка соответствия ваших документах требованиям университета или программы.</p>
					<h5>Стоимость: €60</h5>
				</div>
				<div class="clearfix"> </div>
			</div>
			<br>
			<div class="about-wedo" id="item-full">
				<div class="col-md-4 about-top-img">
					<img src="/img/relax.jpg" alt="" class="img-responsive">
				</div>
				<div class="col-md-8 about-wedo-right">
					<h4>Сопровождение поступления</h4>
					<p>Как правило, общение с иностранным университетом требует немало выдержки и терпения. Мы возьмём на себя всю такую работу, как общение с приёмной комиссией, выяснение ответов на требуемые вопросы, а также пройдём всю процедуру подачи документов за вас.</p>
					<h5>Стоимость: €50</h5>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}